*{margin:0;padding:0;box-sizing:border-box;}

body{
    font-family:Poppins,sans-serif;
    background:#2A012F;
    color:#FF8AD9;
}

.page{display:none;padding:30px;}

.navbar{
    display:flex;justify-content:space-between;
    padding:20px;background:rgba(0,0,0,0.25);
    backdrop-filter:blur(6px);position:sticky;top:0;z-index:100;
}

.logo{
    display:flex;align-items:center;cursor:pointer;
}
.logo-img{
    height:45px;margin-right:10px;filter:drop-shadow(0 0 15px #FF8AD9);
}
.logo span{
    font-size:22px;font-weight:600;text-shadow:0 0 15px #FF8AD9;
}

.nav-links{
    list-style:none;display:flex;gap:25px;align-items:center;
}
.nav-links li{cursor:pointer;font-size:18px;}

.dropdown .mega{
    display:none;position:absolute;top:45px;left:0;
    width:500px;background:#35023F;padding:20px;
    border-radius:10px;box-shadow:0 0 20px #FF8AD9;
    grid-template-columns:repeat(4,1fr);gap:10px;
}
.dropdown:hover .mega{display:grid;}

.hero{text-align:center;padding:60px 20px;}
.banner{
    width:100%;max-height:350px;object-fit:cover;border-radius:12px;
    box-shadow:0 0 20px #FF8AD9;
}
.neon-title{font-size:55px;margin-top:30px;text-shadow:0 0 25px #FF8AD9;}
.tagline{font-size:20px;margin-top:10px;opacity:0.85;}

.filters{text-align:center;margin:40px 0;}
.filters button{
    padding:12px 26px;background:transparent;border:1px solid #FF8AD9;
    color:#FF8AD9;border-radius:6px;margin:6px;cursor:pointer;font-size:16px;
}
.filters .active,.filters button:hover{
    background:#FF8AD9;color:#2A012F;
}

.products{
    display:grid;grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:35px;padding:20px;
}

.card{
    background:#3B0145;border-radius:14px;padding:20px;
    text-align:center;transition:.3s;
}
.card:hover{
    box-shadow:0 0 25px #FF8AD9;transform:translateY(-8px);
}
.card img{
    width:100%;border-radius:12px;box-shadow:0 0 12px #FF8AD9;
    margin-bottom:14px;
}

input,select{
    width:100%;padding:14px;margin:10px 0;
    background:#3B0145;color:#FF8AD9;border-radius:6px;
    border:1px solid #FF8AD9;
}

button.primary{
    padding:14px;width:100%;margin-top:10px;
    background:#FF8AD9;color:#2A012F;border:none;
    border-radius:6px;font-weight:bold;cursor:pointer;font-size:16px;
}

.admin-title{
    font-size:40px;text-align:center;margin-bottom:20px;
    text-shadow:0 0 20px #FF8AD9;
}

.admin-menu{
    display:flex;gap:20px;margin-bottom:20px;justify-content:center;
}
.admin-menu button{
    background:#FF8AD9;color:#2A012F;padding:12px 25px;
    border-radius:6px;border:none;cursor:pointer;font-weight:bold;
}

table{
    width:100%;margin-top:20px;border-collapse:collapse;
    background:#3B0145;border-radius:10px;overflow:hidden;
}
table th,table td{
    border-bottom:1px solid #FF8AD9;padding:14px;text-align:left;
}
table th{background:#610A6E;color:white;}
